*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,html{
  font-family: 'Oxygen', sans-serif;
  background-color: rgb(4, 13, 27);
}

/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.container{
  width: 1000px;
  margin: 0 auto;
}


.warning_message{
  margin: 50px 0 30px 0;
  width: 100%;
  color: red;
}

.warning_message_small{
  border: 3px solid rgb(216, 13, 13);
  border-radius: 5px;
  margin: 10px 100px;
  padding: 20px 10px;
  background-color: rgb(242, 255, 125);
  color: rgb(197, 48, 48);
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.warning_message_small img{
  height: 50px;
  margin-right: 30px;
}

.warning_message img{
  height: 100px;
}

.warning_message .container{
  padding: 20px;
  background-color: rgb(255, 246, 122);
}

.warning_message .warning_content{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header Styles */


.admin_mode{
  font-size: .5em;
  padding: 0px 15px;
  border: 1px solid rgb(133, 133, 133);
  margin-left: 15px;
  background-color: rgb(197, 191, 191);
  color: rgb(27, 27, 27);
  border-radius: 10px;
}

#top_header{
  background-color: rgb(0, 0, 0);
}

#top_header p{
  color: rgb(255, 255, 255);
  font-size: .8em;
}

#top_header .container{
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
#top_header .container .top_nav{
  padding-left: 500px;
}
#top_header .container .top_nav a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: .8em;
  padding: 0 10px;
}

#top_header .container .top_nav a:hover{
  color: #666;
}

#mid_header{
  background-color: rgb(207, 185, 169);
  height: 175px;
}

#mid_header .container .inner{
  padding-top: 10px;
  display: flex;
  align-items: center;
}
#mid_header .title{
  color: rgb(27, 27, 27);
  font-family: 'The Nautigal', cursive;
  font-size: xx-large;
}

#mid_header .logo{
  margin-right: 10px;
}

#mid_header .logo img{
  height: 100px;
  width: 100px;

}

/* Image upload for news */

.upload_images{
  height: 200px;
}

.logo_input{
  display: flex;
  align-items: center;
}

#bottom_header{
  height: 0;
}

#bottom_header nav{
  transform: translateY(-50px);
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 5px #888;
  animation-name: nav_intro;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.nav-inner{
  background-color: #fff;
  position: absolute;
}

@keyframes nav_intro{
  0%{
      transform: translateY(-1000px);
  }
  100%{
      transform: translateY(-50px);
  }
}

#bottom_header nav ul li{
  display: inline-block;
  float: left;
  position: relative;
  list-style-type: none;
}

#bottom_header nav ul li a{
  text-decoration: none;
  display: block;
  padding: 25px 30px;
  font-weight: bold;
  color: #111;
  border-bottom: 4px solid #fff;
  transition: all 300ms;
}

#bottom_header nav ul li a:hover{
  border-bottom: 4px solid rgb(207, 185, 169);
  background-color: #fafafa;
  color: rgb(95, 81, 72);
}


/* Main */

.title-head{
  font-family: antonio bold;
  font-weight: 455;
  font-size: 50px;
  color: #ffffff;
}

.title-head span{
  color: orange;
  font-weight: 800;
}

.descp-head{
  font-family: antonio bold;
  font-size: 19px;
  line-height: 55px;
  color: #ffffff;
}

.descp-head span{
  font-size: 55px;
}

a {
  color:#c0392b;
}
a:hover {
  color: #f96e5e;
}
a img {
  border:0;
}
.image-head{
  width: 55%;
  border-radius: 55px;
}
a.button {
  display:inline-block;
  color:#FFF;
  text-decoration:none;
  padding:10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-bottom:10px;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -ms-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}
a.button-explore{
  background-color: orange;
  color: #000000;
  font-weight: 800;
}
a.button:hover {
  background-color:#ffffff;
  color:#000000;
}
a.button.small {
  background-color:#7f8c8d;
  padding:8px;
  font-size:0.8em;
}
a.button.small:hover {
  background-color:#95a5a6;
}
.head {
  margin:0;
  height: 700px;
  background: url('../images/clubed.png');  
  background-size:cover;
  background-repeat: no-repeat;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.4);
}

.wrapper {
  margin:45px auto;
  padding: 0 0 0 80px;
  width:1200px;
}
.wrapper-about {
  margin:45px auto;
  padding: 0 0 0 40px;
  width:1200px;
  color: #ffffff;
}
.half {
  width:49%;
  display:inline-block;
  vertical-align:middle;
}
.half.left .padding {
  padding:0 0 20px 0;
  margin-top: 125px;
  margin-left: 155px;
}
.half.right .padding {
  padding:0 0 20px 20px;
}
.half img {
  max-width:100%;
  width: auto !important;
  height:auto !important;
}
.space {
  height:5px;
}

@media all and (max-width: 1300px) {
  .wrapper {
    width:100%;
    padding:0;
  }
  .wrapper-about {
      width:100%;
      padding:0;
    }
  h2 {
    font-size: 40px;
  }
  #header h2 {
    font-size:30px;
  }
}
@media all and (max-width:900px) {
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
    line-height:25px;
  }
  #header h2 {
    font-size:20px;
  }
  .head {
    padding:20px;
  }

  .half {
    width:auto;
    display:block;
    margin-bottom:20px;
  }
  .half.left .padding, .half.right .padding, .padding {
    padding:20px;
  }
  .featured .featured-slider{
    padding: 0 0.8rem 0 0.5rem;
  }
}
@media all and (max-width:500px) {
  h1 {
    font-size:45px;
  }
  #header h2 {
    font-size:15px;
  }
  .head {
    padding:25px;
  }
  .half {
    margin-bottom:10px;
  }
  .half.left .padding, .half.right .padding, .padding {
    padding:5px;
  }
}
@media all and (max-width:280px) {
  h2 {
    font-size:25px;
  }
}


#forum{
  margin-top: 15px;
  background-color: #36393e;
}

/* Events */
#events{
  margin-top: 15px;
  background-color: #36393e;
  
}

#events h2{
  background-color: rgb(153, 128, 99);
  color: #fff;
  padding: 10px 15px;
  position: relative;
}

#events h2 button{
  position: absolute;
  width: 250px;
  right: 0px;
  top: 0;
  padding: 0 20px;
  height: 100%;
  background-color: rgb(153, 128, 99);
  font-weight: 700;
  color: #fff;
  border: none;
  cursor: pointer;
}

#events h2 button:hover{
  background-color: rgb(221, 198, 169);
}

#events .news{
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px #aaa;
  background-color: white;
  margin: 10px;
  border-left: 5px solid rgb(153, 128, 99);
}

#events .news a{
  text-decoration: none;
  color: rgb(66, 66, 66);
}

#events .news p{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .95em;
}

#events .news .news-date{
  color: rgb(153, 128, 99);
  font-size: .8em;
}

.delete-button{
  border: 2px solid rgba(160, 153, 153, 0.274);
  background: rgb(153, 128, 99);
  color: #fff;
  cursor: pointer;
  padding: 5px 15px;
  font-size: medium;
}

.delete-button:hover{
  background-color: rgb(221, 198, 169);
}

.crud{
  display: inline-block;
}


/* ADMIN STYLES */

#admin_login{
  padding: 50px 0;
}


#admin_login .container form{
  box-shadow: 0px 0px 3px #ccc;
  padding: 30px;
  width: 500px;
  margin: auto;
}

#admin_login .container form .form_inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(197, 191, 191);
}

#admin_login .container form .form_inner input{
  margin: 5px auto;
  
}

#admin_login .container form .form_inner input[type="text"]{
  border: 1px solid #bbb;
  margin-left: 10px;
  border-radius: 3px;
  padding: 3px 10px;
  
}

#admin_login .container form .form_inner input[type="password"]{
  border: 1px solid #bbb;
  margin-left: 10px;
  border-radius: 3px;
  padding: 3px 10px;
}

#admin_login .container form .form_inner input[type="submit"]{
  padding: 3px 10px;
  border: 1px solid rgb(153, 128, 99);
  border-radius: 3px;
  background: linear-gradient(90deg, rgb(153, 128, 99), rgb(214, 188, 159));
  color: #fff;
  cursor: pointer;
}

#admin_login .container form .form_inner h2{
  border-bottom: 2px solid #eee;
  color: rgb(197, 191, 191);
  margin-bottom: 20px;
  text-transform: uppercase;
}

#admin_login .container form .admin_login_error{
  padding: 20px 30px;
  background-color: rgb(232, 255, 103);
  color: rgb(201, 179, 132);
  font-weight: 700;
  display: block;
  margin-bottom: 15px;
}

/* admin dashboard */

#application_button{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#application_button a{
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  background-color: rgb(153, 128, 99);
}

#application_button a:hover{
  background-color: rgb(221, 198, 169);
}

.admin_dashboard_header{
  margin-top: 50px;
  padding: 10px;
}

.admin_dashboard_header .container{
  padding: 10px;
  /*box-shadow: 0px 0px 4px #aaa;*/
  -webkit-box-shadow: 0 8px 6px -6px #fff;
  -moz-box-shadow: 0 8px 6px -6px #fff;
  box-shadow: 0 8px 6px -6px #fff;
  
}

.admin_dashboard_header .container h2{
  padding-left: 10px;
  color: #fff;
}


.admin_dashboard_content h3{
  border-bottom: 1px solid #ddd;
  padding: 15px 10px;
  color: #fff;
}

.admin_dashboard_content form{
  color: #333;
}

.admin_dashboard_content form table{
  padding: 5px;
  background-color: rgb(255, 244, 231);
  margin: 15px auto;
  box-shadow: 0px 0px 5px #999;
  border-radius: 5px;
  width: 750px;
  height: 330px;
}

.admin_dashboard_content form table tr td{
  padding: 5px 10px;
}

.admin_dashboard_content form table tr th{
  padding: 5px 10px;
}

.admin_dashboard_content form table tr td input[type="text"] {
  padding: 5px 5px;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 5px;
  width: 100%;

}

.admin_dashboard_content form table tr td input[type="password"] {
  padding: 5px 5px;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 5px;
  width: 100%;
}


.admin_dashboard_content form table tr td input[type="submit"] {
  width: 100%;
  padding: 5px 0;
  border: 1px solid rgb(153, 128, 99);
  border-radius: 3px;
  background: linear-gradient(90deg, rgb(153, 128, 99), rgb(211, 183, 152));
  color: #fff;
  cursor: pointer;
}

/* Compose Interface */

.composition_interface > .container{
  box-shadow: 0px 0px 3px #bbb;
  padding: 30px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.composition_interface > .container form table{
  padding: 10px;
  width: 100%;    
}

.composition_interface > .container form input[type="text"]{
  padding: 10px 5px;
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
  border: 2px solid rgba(160, 153, 153, 0.274);
}

.composition_interface > .container form textarea{
  width: 100%;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  resize: none;
  border-radius: 5px;
  border: 2px solid rgba(160, 153, 153, 0.274);
}

.composition_interface > .container form input[type="submit"]{
  background-color: rgb(153, 128, 99);
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 1.3em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.composition_interface > .container form input[type="submit"]:hover{
  background-color: rgb(221, 198, 169);
}

.headline{
  margin: 45px 0 10px 0;
  
}

.headline .container{
  border-bottom: 1px solid #aaa;
}

.headline h2{
  text-transform: uppercase;
  text-align: justify;
  font-size: 2.5em;
  color: rgb(243, 218, 189);
}

.news_content .container{
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 20px;
  margin-left: auto;
  color: rgb(243, 218, 189);
  border-radius: 5px;
  border: 2px solid rgba(160, 153, 153, 0.274);
}

.news_image .container{
  overflow: hidden;
}

.news_image .container img{
  height: 400px;
  margin: 0 auto;
  display: block;
}

.view_all{
  background-color: #fff;
  box-shadow: 0px 0px 3px #aaa;
  margin: 10px;
  padding: 10px;
  border-bottom: 2px solid rgb(153, 128, 99);
}

.view_all h3, .view_all a{
  text-align: right;
  padding-right: 5px;
  color: #111;
  text-decoration: none;
}
.view_all h3, .view_all a:hover{
  color: #666;
}

.author{
  font-size: .45em;
  font-style: italic;
  font-weight: 100;
  display: block;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}